streamlit
pymupdf
arxiv
sentence-transformers
chromadb==0.6.3
langchain==0.3.20
langchain-community==0.3.19
langgraph==0.3.5
groq
fastapi
uvicorn
python-multipart
tqdm
python-dotenv
rank-bm25
numpy==1.26.4
protobuf==3.20.3